/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}


/* Custom Scroll Bar CSS */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #6e93f7;
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #4070f4;
}
/* navbar styling */
/* Navbar styling */
nav {
  position: fixed;
  width: 100%;
  padding: 10px 0;
  z-index: 998;
  transition: all 0.3s ease;
  font-family: 'Ubuntu', sans-serif;

}

nav.sticky {
  background: #4070f4; /* Blue background when scrolled */
  padding: 10px 0;
}

nav .navbar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  
}
.logo {
  display: flex;
  align-items: center;
   text-align: center;
   /* Vertically centers the content */
 
}

nav .navbar .logo a {
  font-weight: 500;
  font-size: 35px;
  color: #4070f4;
  text-decoration: none;
  padding-bottom: 10px;
  
}

/* Change logo text color when navbar is sticky */
nav.sticky .navbar .logo a {
  color: #fff;
}

nav .navbar .menu {
  display: flex;
  position: relative;
}

nav .navbar .menu li {
  list-style: none;
  margin: 0 8px;
}

.navbar .menu a {
  font-size: 18px;
  font-weight: 500;
  color: #0E2431;
  padding: 6px 0;
  transition: all 0.4s ease;
  text-decoration: none;
  
}

.navbar .menu a:hover {
  color: #4070f4;
}

nav.sticky .menu a {
  color: #FFF;
}

nav.sticky .menu a:hover {
  color: #0E2431;
}

.navbar .media-icons a {
  color: #4070f4;
  font-size: 18px;
  margin: 0 6px;
}

nav.sticky .media-icons a {
  color: #FFF;
}

/* Side Navigation Menu Button CSS */
nav .menu-btn,
.navbar .menu .cancel-btn{
  position: absolute;
  color: #fff;
  right: 30px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}
nav .menu-btn{
  color: #4070f4;
}
nav.sticky .menu-btn{
  color: #FFF;
}
.navbar .menu .menu-btn{
  color: #fff;
}
/* Responsive Media Query */
@media (max-width: 850px) {
  nav .navbar {
    width: 90%;
  }

  nav .navbar .menu {
    position: fixed;
    left: -100%;
    top: 0;
    background: #0e2431;
    height: 100vh;
    max-width: 400px;
    width: 100%;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
  }

  .navbar.active .menu {
    left: 0;
  }

  nav .navbar .menu a {
    font-size: 23px;
    display: block;
    color: #fff;
    margin: 10px 0;
  }

  nav .navbar .media-icons {
    display: none;
  }

  nav .menu-btn,
  .navbar .menu .cancel-btn {
    display: block;
  }
  
}

@media (max-width: 600px) {
  nav .navbar .logo a {
    font-size: 25px;
  }

  nav .navbar .menu a {
    font-size: 20px;
  }
}
/*menu*/
.side-menu{
  display: none;
}
.menu{
  display: none;
}
.menu-btn {
  display: none;
}

.menu {
  display: flex;
  list-style: none;
  
}

.menu li {
  margin-left: 20px;
}

.menu li a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

/* Media Queries for Mobile (max-width: 850px) */

@media (max-width: 850px) {
  .menu {
    display: none;
  }

  .menu-btn {
    display: block;
    cursor: pointer;
  }

  .menu-btn i {
    font-size: 30px;
  }

  /* Side Menu */
  .side-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    max-width:400px;
    background-color: #0E2431; /* Semi-transparent dark background */
 
    color: #fff;
    transition: all 0.5s ease;
    z-index: 15;
    display: block;
    flex-direction: column;
    padding-top: 30px;
    justify-content: center;
    text-align: center;
    
  }
  .side-menu .title{
    padding-top: 20px;
  }
  .side-menu .title a{
    
    font-weight: 500;
    font-size: 35px;
    color: #4070f4;
    text-decoration: none;
    padding-bottom: 10px;
    text-align: center;
    align-items: center;
  }

  .side-menu.open {
    left: 0;
  }

  .menu-header {
    display: block;
    text-align: right;
    padding-right: 10px;
    
  }

  .menu-header .cancel-btn i {
    font-size: 30px;
    cursor: pointer;
  }

  .menu-items {
    list-style: none;
    margin-top: 20px;
    
    text-align: center;
  }

  .menu-items li {
    margin: 10px 0;
    padding-top: 10px;
  }

  .menu-items li a {
    color: #fff;
    text-decoration: none;
    font-size: 23px;
    display: block;
  }

  .menu-items li a:hover {
    text-decoration: none;
    color: #4070f4;;
  }
}


/* home section styling */
.home{
  
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; 
  padding: 20px;
  box-sizing: border-box;
  
  background-image: url('./Images/bg.png'); /* Replace 'your-image.jpg' with the path to your image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; /* Set the height of the body to fill the viewport height */
  
}
.home-content{
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  
}
.home .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align text to the left */
  
  text-align: left;
}

@media (max-width: 768px) {
  .text-one {
    font-size: 2rem;
  }
  .text-two {
    font-size: 2.5rem;
  }
  .text-three {
    font-size: 1.5rem;
  }
  .text-four {
    font-size: 1rem;
  }
}
.home .text-one{
  font-size: 25px;
  color: #0E2431;
}
.home .text-two{
  color: #0E2431;
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .text-three{
  font-size: 40px;
  margin: 5px 0;
  color: #4070f4;
}
.home .text-four{
  font-size: 23px;
  margin: 5px 0;
  color: #0E2431;
  max-width: 800px;
}
.home .button{
  margin: 14px 0;
}
.home .button button{
  outline: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 25px;
  font-weight: 400;
  background: #4070f4;
  color: #fff;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.4s ease;
}
.home .button button:hover{
  border-color: #4070f4;
  background-color: #fff;
  color: #4070f4;
}

/* About Section Styling */
/* Those Elements Where We Have Apply Same CSS,
 I'm Selecting Directly 'Section Tag' and 'Class'  */
section{
  padding-top: 40px;
}
section .content{
  width: 100%;
  margin: 20px auto;
  font-family: 'Poppins', sans-serif;
}
.about .about-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .title{
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
section .title span{
  color: #0E2431;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}
section .title span::before,
section .title span::after{
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background: #4070f4;
  left: 0;
  bottom: 0;
}
section .title span::after{
  bottom: -7px;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
}


.about {
  height: 100vh; /* Take full viewport height */
  display: flex;
  justify-content: center; /* Horizontally center content */
  align-items: center; /* Vertically center content */
 
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}
.column p{
  text-indent: 50px;
}
.column {
  width: 50%; /* Adjust the column width as needed */
  padding: 20px;
  box-sizing: border-box;
  text-align: justify;
  
}

.title span {
  font-size: 2rem;
  font-weight: bold;
}

section  .topic{
  color: #0E2431;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}
.about-details .right p{
  text-align: justify;
  color: #0E2431;
}
section .button{
  margin: 16px 0;
}
section .button button{
  outline: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 25px;
  font-weight: 400;
  background: #4070f4;
  color: #fff;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.4s ease;
}
section .button button:hover{
  border-color: #4070f4;
  background-color: #fff;
  color: #4070f4;
}

 /* My Skills CSS */
 .skills{
   background: #F0F8FF;
   height: 100vh; /* Full viewport height */
   display: flex;
   justify-content: center; /* Horizontally center the content */
   align-items: center; /* Vertically center the content */
   padding: 20px;
   box-sizing: border-box;
 }
 .skills-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.skills-details .text {
  width: 48%; /* Adjust as needed */
  padding: 20px;
  box-sizing: border-box;
}


.skills-details .text .topic {
  font-size: 25px;
  font-weight: bold;
  text-align: left;
}

.per {
  font-size: 1.5rem;
  color: #4caf50; /* You can change the color */
}
 .skills .content{
   padding: 30px 0;
 }
 .skills .skills-details{
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 .skills-details .text{
   width: 70%;
   padding-right: 30px;
 }
 .skills-details p{
   color: #0E2431;
   text-align: justify;
   text-indent: 50px;
 }
.skills .skills-details .experience{
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.skills-details .experience .num{
  color: #0E2431;
  font-size: 80px;
}
.skills-details .experience .exp{
  color: #0E2431;
  margin-left: 20px;
  font-size: 18px;
  font-weight: 500;
  margin: 0 6px;
}
.skills-details .boxes{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.skills-details .box{
  width: calc(100% / 2 - 20px);
  margin: 20px 0;
}
.skills-details .boxes .topic{
  font-size: 20px;
  color: #4070f4;
}
.skills-details .boxes .per{
  font-size: 60px;
  color: #4070f4;
}

/* My Services CSS */
.services .boxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
.services .boxes .box{
  margin: 20px 0;
  width: calc(100% / 3 - 20px);
  text-align: center;
  border-radius: 12px;
  padding: 30px 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  cursor: default;
  transition: all 0.4s ease;
  
}
.services .boxes .box:hover{
  background: #4070f4;
  color: #fff;
  
}
.services .boxes .box .icon{
  height: 50px;
  width: 50px;
  background: #4070f4;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  color: #fff;
  margin: 0 auto 10px auto;
  transition: all 0.4s ease;
}
.boxes .box:hover .icon{
  background-color: #fff;
  color: #4070f4;
}
.services .boxes .box:hover .topic,
.services .boxes .box:hover p{
  color: #0E2431;
  transition: all 0.4s ease;
}
.services .boxes .box:hover .topic,
.services .boxes .box:hover p{
  color: #fff;
}
/* Contact Me CSS */
.contact{
  background: #F0F8FF;
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  padding: 20px;
  box-sizing: border-box;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%; /* You can adjust the max-width as needed */
  width: 100%;
}

.title span {
  font-size: 2rem;
  font-weight: bold;
}

.content .text {
  text-align: center;

}

.topic {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 20px;
}

p {
  font-size: 1rem;
  margin-top: 10px;
  
}

a {
  color: #0E2431; /* LinkedIn link color */
  font-size: 1.2rem;
  margin-top: 10px;
  text-decoration: none;
}



i {
  margin-right: 10px; /* Space between icon and text */
}
.contact .content{
  margin: 0 auto;
  padding: 30px 0;
}
.contact .text{
  width: 90%;
 
  margin: auto;
}

/* Footer CSS */
footer{
  background: #4070f4;
 
  
  font-family: 'Poppins', sans-serif;
  
  text-align: center;
}
footer .text .center{
  font-size: 17px;
  font-weight: 400;
  color: #fff;
 
 
  
  
}
footer .text span a{
  font-weight: 500;
  color: #FFF;
}
footer .text span a:hover{
  text-decoration: none;
}
/* Scroll TO Top Button CSS */
.scroll-button a{
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background: #4070f4;
  padding: 7px 12px;;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15);
  display: none;
}

/* Responsive Media Query */
@media (max-width: 1190px) {
  section .content{
    width: 85%;
  }
}
@media (max-width: 1000px) {
  .about .about-details{
    justify-content: center;
    flex-direction: column;
  }
  .about .about-details .left{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .about-details .right{
    width: 90%;
    margin: 40px 0;
  }
  .services .boxes .box{
    margin: 20px 0;
    width: calc(100% / 2 - 20px);
  }
}
@media (max-width: 900px) {
  .about .left img{
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 750px) {
  nav .navbar{
    width: 90%;
  }
  nav .navbar .menu{
    position: fixed;
    left: -100%;
    top: 0;
    background: #0E2431;
    height: 100vh;
    max-width: 400px;
    width: 100%;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
  }
  .navbar.active .menu{
    left: 0;
  }
  nav .navbar .menu a{
    font-size: 23px;
    display: block;
    color: #fff;
    margin: 10px 0;
  }
  nav.sticky .menu a:hover{
    color: #4070f4;
  }
  nav .navbar .media-icons{
    display: none;
  }
  nav .menu-btn,
  .navbar .menu .cancel-btn{
    display: block;
  }
  .home .text-two{
    font-size: 65px;
  }
  .home .text-three{
    font-size: 35px;
  }
  .skills .skills-details{
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .skills-details .text{
    width: 100%;
    margin-bottom: 50px;
  }
  .skills-details .boxes{
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .services .boxes .box{
    margin: 20px 0;
    width: 100%;
  }
  .contact .text{
    width: 100%;
}
}

@media (max-width: 500px){
  .home .text-two{
    font-size: 55px;
  }
  .home .text-three{
    font-size: 33px;
  }
  .skills-details .boxes .per{
    font-size: 50px;
    color: #4070f4;
  }
}
.arrow {
  border: solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.container {
  display: flex;
  flex-wrap: wrap; /* Allow columns to wrap to next row on smaller screens */
}

.column {
  flex: 1;
  padding: 20px;
  box-sizing: border-box; /* Include padding in the column's width */
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  .column {
    flex-basis: 100%; /* Each column takes full width on smaller screens */
  }
}